@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

@font-face {
  font-family: "krzysiek";
  src: url("../fonts/JosefinSans-Light.ttf");
  font-weight: normal;
  font-style: normal; }
body {
  font-size: 16px;
  font-family: arial, sans-serif;
  background: grey; }

html,
body {
  margin: 0;
  padding: 0;
  width: 100%; }

header div.wazny {
  background: #EDEDED;
  width: 100%;
  position: relative; }
  header div.wazny .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 90px; }
    header div.wazny .content img {
      padding-right: 50px; }

.dropdown {
  width: 100%; }
  .dropdown .irena {
    width: 50px;
    height: 100px;
    background: yellow;
    display: inline-block; }
  .dropdown .menu a {
    background-color: #EDEDED;
    color: red;
    font-size: 18px;
    font-weight: lighter;
    text-decoration: none; }

.dropdown-content {
  position: absolute;
  background: grey;
  width: 200px;
  display: none;
  z-index: 11; }
  .dropdown-content a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    text-align: left;
    z-index: 11; }
    .dropdown-content a:hover {
      position: relative;
      border: 1px solid white;
      background: white;
      color: orange; }

.dropdown-content-5 {
  position: absolute;
  background: grey;
  width: 200px;
  display: none;
  z-index: 11;
  margin-left: -100px; }
  .dropdown-content-5 a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    text-align: left; }
    .dropdown-content-5 a:hover {
      position: relative;
      border: 1px solid white;
      background: white;
      color: orange; }

.dropdown:hover .dropdown-content-5 {
  display: block; }

.dropdown:hover .dropdown-content {
  display: block; }

.container {
  position: relative;
  width: 50%;
  width: 150px;
  height: 90px;
  display: block; }

.container:hover a:hover .overlay {
  height: 100%; }

div.menu-2 {
  background: #F0F0F0;
  display: inline-block;
  height: 100%;
  width: 100%;
  max-width: 150px; }
  div.menu-2 a {
    text-decoration: none;
    color: #36363B;
    z-index: 11;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

div.menu-2b {
  background: #F0F0F0;
  display: inline-block;
  height: 100%;
  width: 100%;
  max-width: 150px; }
  div.menu-2b a {
    text-decoration: none;
    color: #36363B;
    z-index: 11;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.container:hover .overlay {
  height: 100%;
  background: orange; }

div.dropdown a i {
  color: red; }

div.dropdown div.pl {
  width: 100%;
  background: blue;
  width: 100px;
  height: 90px; }
  div.dropdown div.pl a i {
    background: purple; }
  div.dropdown div.pl a .bb {
    width: 200px;
    height: 90px; }

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: orange;
  overflow: hidden;
  width: 100%;
  height: 0;
  -webkit-transition: .5s ease;
          transition: .5s ease; }

/* NAPISY NA OBRAZEK   UZYCIE  overflow:hidden  i background-size:cover

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1*/
div.robotnik {
  width: 100%;
  position: relative; }
  div.robotnik .rob {
    width: 100%;
    height: 500px; }

/*
div.robotnik:before {
    content: "";
    height: 500px;
    background: url('../image/ii.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: block;
    margin: 0 auto;

}
*/
/*  
    spos├│b na wy┼Ťrodkowanie tekstu w pionie
    top:50%;
    transform: translateY(-50%);
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! 
    */
/*  
spos├│b na wy┼Ťrodkowanie tekstu w pionie position absolute:
https://css-tricks.com/snippets/sass/centering-mixin/
*/
/*  top:50%;
transform: translateY(-50%);
right:-50%;
 transform: translateX(-50%);
 */
div.blaa {
  width: 100%;
  position: relative; }
  div.blaa .itemm {
    width: 100%;
    background: blue;
    position: relative;
    height: 500px; }
    div.blaa .itemm img {
      width: 100%;
      height: 500px;
      margin: 0; }

h1 .tekst-1 {
  top: 44%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 46.5%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  position: absolute;
  font-size: 49px;
  font-weight: bold; }

div.tekst h1 span.red {
  top: 60%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 55%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  position: absolute;
  font-size: 30px;
  font-weight: normal; }

div.tekst h1 span.mateusz {
  top: 67%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 41.5%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  position: absolute;
  font-size: 30px;
  font-weight: normal; }

div .owl-nav .owl-next i {
  right: 0;
  background: rgba(255, 255, 255, 0.7);
  padding: 10px;
  padding-left: 20px;
  font-size: 60px;
  opacity: 0.7;
  color: #353535;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
  div .owl-nav .owl-next i:hover {
    background: orange; }

div .owl-nav .owl-prev {
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  width: 70px;
  height: 70px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0px; }
  div .owl-nav .owl-prev:hover {
    background: orange; }
  div .owl-nav .owl-prev i {
    left: 14%;
    line-height: 56px;
    font-size: 60px;
    opacity: 0.7;
    color: #353535;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }

header .address {
  position: relative;
  width: 100%;
  background: #3D3D3D;
  padding: 20px 0;
  font-size: 11px;
  color: #7c7c7c; }
  header .address .content {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  header .address .item {
    padding: 0 20px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  header .address i {
    margin-right: 20px; }

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 55px; }

h3 {
  text-align: center;
  font-weight: lighter; }

div.rodzic {
  width: 100%;
  background: #EEEEEE;
  position: relative; }
  div.rodzic p {
    padding-top: 10px;
    font-size: 12px; }
  div.rodzic h11 {
    padding: 30px 0;
    text-align: center;
    font-size: 20px; }
  div.rodzic h2 {
    padding-top: 45px;
    font-size: 31px;
    color: grey;
    text-align: center;
    font-weight: bold; }
  div.rodzic span.andrzej {
    color: grey;
    display: block;
    font-weight: lighter;
    padding: 10px 0; }
  div.rodzic .content-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 1200px;
    height: 370px;
    width: 100%;
    margin: 0 auto; }
  div.rodzic .mysz {
    padding-right: 30px; }
  div.rodzic .wiolka {
    max-width: 250px;
    height: 300px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 0; }
    div.rodzic .wiolka img {
      max-width: 100px;
      height: 100px; }

div.rodzic-1 {
  width: 100%;
  background: #E4E4E4;
  position: relative; }
  div.rodzic-1 img {
    width: 200px;
    height: 200px; }
  div.rodzic-1 h3 {
    text-align: center;
    font-size: 31px;
    font-weight: bold;
    text-transform: uppercase;
    color: #7c7c7c;
    padding: 60px 0; }
  div.rodzic-1 .button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 50px; }
  div.rodzic-1 .content-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto; }
    div.rodzic-1 .content-2 .padding {
      max-width: 1200px;
      height: 300px;
      padding-right: 25px; }
      div.rodzic-1 .content-2 .padding .dziecko {
        max-width: 250px;
        height: 230px;
        text-align: center; }
        div.rodzic-1 .content-2 .padding .dziecko a {
          text-align: center;
          font-size: 12px;
          color: #3d3d3d;
          text-decoration: none;
          font-weight: bold;
          text-transform: uppercase; }
          div.rodzic-1 .content-2 .padding .dziecko a:hover {
            color: orange;
            margin: 5%; }

button.przycisk {
  background: grey;
  color: white;
  width: 150px;
  height: 50px;
  float: center; }
  button.przycisk:hover {
    background: orange; }

div.plac {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: block;
  height: 490px; }
  div.plac img {
    height: auto;
    width: 100%; }
  div.plac h5 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 49px;
    font-family: arial;
    font-weight: normal;
    color: white;
    font-family: krzysiek; }
  div.plac span {
    top: 90%;
    right: 35%;
    position: absolute; }

/*  3 obrazki robotnika*/
div.trump {
  width: 100%;
  background: #E5E5E5; }
  div.trump .box img {
    width: 150px;
    height: 150px; }
  div.trump .box-1 {
    width: 155px;
    height: 390px;
    padding-left: 20px; }
    div.trump .box-1 button.read {
      width: 150px;
      height: 40px;
      background: orange;
      color: white;
      border: none; }
      div.trump .box-1 button.read:hover {
        background: grey; }
    div.trump .box-1 a {
      color: #3d3d3d;
      font-size: 20.4px;
      text-align: left;
      font-weight: 500;
      text-decoration: none; }
    div.trump .box-1 p {
      font-size: 12px;
      color: #7c7c7c;
      text-align: left;
      padding: 20px 0; }
  div.trump h2 {
    font-size: 31px;
    color: #7c7c7c;
    text-decoration: none;
    padding-top: 5%;
    padding-bottom: 30px; }
  div.trump .trump-dziecko {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  div.trump .mateusz {
    padding-left: 30px;
    margin-right: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }

div.przyklad-2 {
  border-bottom: 1px solid grey;
  position: relative;
  width: 100%;
  margin: 0 auto; }
  div.przyklad-2:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background: #E0E0E0;
    z-index: 2;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-bottom-left-radius: 99%;
    border-bottom-right-radius: 99%;
    border-top: 1px solid #E0E0E0;
    margin-left: 50%;
    margin-top: 0px; }

div.line {
  position: relative;
  border-bottom: 1px solid black;
  margin-bottom: 0px;
  margin-top: 0;
  background: #EDEDED;
  z-index: 7; }
  div.line:before {
    content: "";
    width: 25px;
    height: 25px;
    display: block;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-bottom-right-radius: 5px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-left: 50%;
    margin-bottom: -13px;
    z-index: 7;
    background: #EDEDED; }

div.glowa {
  width: 100%;
  padding-top: 50px;
  background: #E0E0E0;
  text-align: center; }
  div.glowa section {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
    div.glowa section .przyklad-3 {
      width: 250px;
      height: 200px;
      position: relative;
      margin-top: 15%;
      border: 3px solid #CECECE;
      border-radius: 15px;
      display: inline-block;
      background: white;
      padding-right: -40px;
      padding-left: -50px; }
      div.glowa section .przyklad-3:before {
        content: "";
        width: 30px;
        height: 30px;
        position: absolute;
        background: red;
        border-bottom: 3px solid #CECECE;
        border-right: 3px solid #CECECE;
        -webkit-transform: rotate(45deg) translate(-50%);
            -ms-transform: rotate(45deg) translate(-50%);
                transform: rotate(45deg) translate(-50%);
        margin-top: 79%;
        background: white; }
      div.glowa section .przyklad-3 p {
        font-size: 12px;
        padding-bottom: 30px;
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px; }
        div.glowa section .przyklad-3 p span {
          color: #fe8f01;
          font-size: 12px; }
  div.glowa .content-4 {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background: #DFDFDF;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  div.glowa h8 {
    font-size: 31px;
    color: #7c7c7c; }
  div.glowa .glowy {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 3%;
    padding-left: 7%;
    padding-right: 7%; }
  div.glowa .glowy img {
    border: 2px solid white;
    border-radius: 100%; }

div.client {
  position: relative;
  width: 100%;
  background: #EFEFEF;
  text-align: center;
  padding: 70px 0; }
  div.client .content-5 {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background: #F0F0F0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  div.client h9 {
    font-size: 31px;
    color: #7c7c7c; }
  div.client img {
    position: relative;
    margin-top: 5%;
    margin-left: 15%; }

/*
footer {
    background: grey;
    height: 400px;
    width: 1200px;
    position: relative;
    display: inline-block;
}

footer div.footer p {
    color: white;
}

footer div:first-child {
    width: 300px;
    height: 300px;
}

footer div.footer p {
    color: orange;
}

footer div:nth-of-type(2) {
    width: 600px;
    height: 300px;
    position: absolute;
    display: block;
    top: 0;
    left: 300px;
}

footer div:nth-of-type(2)>a {
    color: white;
    display: flex;
    font-size: 25px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

footer div:nth-of-type(2)>a:nth-of-type(1n+4) {
    color: white;
    position: absolute;
    top: 0;
    left: 450px;
    display: block;
}

footer div:nth-of-type(2)>a:nth-of-type(1n+5) {
    position: absolute;
    margin-top: 50px;
    left: 450px;
    display: block;
}

div.news h9 {
    color: yellow;
    font-size: 20px;
}

footer div:nth-of-type(3)>button {
    background: orange;
    position: absolute;
    top: 40px;
    left: 100px
}

footer div:nth-of-type(3)>form>label>input {
    position: absolute;
    top: 40px;
}

footer div:nth-of-type(3) {
    position: absolute;
    width: 500px;
    height: 300px;
    top: 0px;
    margin-left: 1000px;
}

footer div:nth-of-type(3)>i {
    margin-top: 250px;
}

footer div:nth-of-type(3)>i:nth-of-type(4) {
    background: orange;
    margin-top: 250px;
    margin-left: 350px;
}

footer div:last-of-type {
    width: 1540px;
    height: 200px;
    color: white;
    background: black;
    position: absolute;
    margin-top: 300px;
    top: 30px;
    margin-left: 0;
}

div.maps{width:100%;
}
*/
footer {
  background: #3D3D3D;
  width: 100%;
  position: relative; }

div .content-7 {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 10px; }

div.footer {
  max-width: 300px;
  height: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  div.footer p {
    padding: 10px 0;
    font-size: 12px;
    text-align: left;
    color: #ABABAB;
    line-height: 1.5; }
  div.footer img {
    width: 100%;
    height: 60px;
    margin: 0; }

div .ahref-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  div .ahref-1 a {
    font-size: 14px;
    text-decoration: none;
    color: #ABABAB;
    padding-bottom: 20px; }
    div .ahref-1 a:hover {
      color: orange; }
  div .ahref-1 .lewo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; }
  div .ahref-1 .prawo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; }

div.news {
  width: 300px;
  height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
  position: relative; }
  div.news span i {
    color: #7E7781; }
  div.news span.news {
    text-align: left; }
    div.news span.news h9 {
      color: yellow;
      font-size: 18px;
      color: #ababab; }

div.news span.ir {
  background: #3D3D3D;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 110px; }

div.news div.strzalka {
  width: 100px;
  color: orange; }

div.footer-1 {
  width: 100%;
  background: #363636; }
  div.footer-1 div.footer-2 {
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: 80px;
    margin: 0 auto;
    background: #363636;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }

div.footer-1 div.footer-2 h6 {
  color: #ABABAB;
  font-size: 14px;
  top: 30px;
  position: absolute; }

div .strzala {
  position: relative;
  max-width: 100px;
  width: 100%; }

div .strzalka {
  max-width: 400px;
  width: 100%;
  position: relative; }
  div .strzalka i {
    position: absolute;
    top: 86%;
    -webkit-transform: translate(-98%);
        -ms-transform: translate(-98%);
            transform: translate(-98%);
    right: 5%;
    color: orange;
    max-width: 200px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: orange;
    text-decoration: none;
    position: fixed;
    display: none;
    text-decoration: none; }
    div .strzalka i:hover {
      color: grey; }

div form input {
  width: 600px;
  height: 35px;
  margin-top: 1px;
  margin-left: -600px;
  z-index: 10;
  border: transparent; }

.ustawienia form {
  position: relative;
  width: 100%;
  height: 3px; }

.ustawienia form fieldset {
  position: relative;
  background: pink;
  width: 100%; }

fieldset label {
  position: relative;
  height: 10px;
  width: 20px;
  z-index: 10;
  margin-left: -44px; }

fieldset label i.przycisk {
  position: absolute;
  margin-left: 50px;
  top: 0;
  color: blue; }
  fieldset label i.przycisk:hover {
    color: orange; }

fieldset span .field {
  position: absolute;
  left: -40px;
  top: 3%;
  color: orange;
  padding-bottom: 2px; }
  fieldset span .field:hover {
    color: grey; }

form fieldset {
  width: 100%;
  position: relative; }

div.kd {
  padding: 35px 0; }

.kd fieldset input {
  background: transparent;
  position: relative;
  left: 231px;
  width: 140px;
  border: 1px solid white; }

fieldset button {
  background: orange;
  height: 35px;
  top: 1px;
  position: absolute;
  left: 141px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  border: none;
  padding: 0 10px; }
  fieldset button:hover {
    color: orange;
    background: white; }

fieldset button::-webkit-input-placeholder {
  color: white; }

fieldset button::-moz-placeholder {
  color: white; }

fieldset button:-ms-input-placeholder {
  color: white; }

fieldset button::placeholder {
  color: white; }

.kd fieldset input::-webkit-input-placeholder {
  color: grey;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px; }

.kd fieldset input::-moz-placeholder {
  color: grey;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px; }

.kd fieldset input:-ms-input-placeholder {
  color: grey;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px; }

.kd fieldset input::placeholder {
  color: grey;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px; }

.hover {
  background: red; }

.pink {
  background: pink; }

.blue {
  background: url("../image/logo1.ico") no-repeat;
  position: absolute; }

.field {
  background: red; }

/*# sourceMappingURL=przerobione.css.map */