@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

@font-face {
  font-family: "krzysiek";
  src: url("../fonts/JosefinSans-Light.ttf");
  font-weight: normal;
  font-style: normal; }
body {
  font-size: 16px;
  font-family: arial, sans-serif; }

html,
body {
  margin: 0;
  padding: 0;
  width: 100%; }

header div.wazny {
  background: #EDEDED;
  width: 100%;
  position: relative; }
  header div.wazny .content {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.dropdown {
  position: relative; }

.dropdown i {
  padding: 40px; }

.dropdown .menu a {
  background-color: #EDEDED;
  color: black;
  font-size: 18px;
  font-weight: lighter;
  text-decoration: none; }

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background: grey;
  width: 200px; }

.dropdown-content a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px;
  text-align: left; }

.dropdown-content a:hover {
  position: relative;
  border: 1px solid white;
  background: white;
  color: orange; }

.dropdown:hover .dropdown-content {
  display: block; }

.menu a:hover {
  background: orange;
  width: 300px;
  height: 300px;
  color: white;
  border: 65px solid orange; }

div.wazny .content img {
  padding-right: 30px; }

/* NAPISY NA OBRAZEK   UZYCIE  overflow:hidden  i background-size:cover

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1*/
div.robotnik {
  width: 100%;
  overflow: hidden;
  position: relative; }

div.robotnik:before {
  content: "";
  height: 500px;
  background: url("../image/ii.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: block;
  margin: 0 auto; }

/*  
   spos├│b na wy┼Ťrodkowanie tekstu w pionie
   top:50%;
   transform: translateY(-50%);
  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! 
   */
div.robotnik div.tekst {
  position: absolute;
  /*  
  spos├│b na wy┼Ťrodkowanie tekstu w pionie position absolute:
  https://css-tricks.com/snippets/sass/centering-mixin/
  */
  /*  top:50%;
  transform: translateY(-50%);
  right:-50%;
   transform: translateX(-50%);
   */
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

div.robotnik h1 {
  color: red;
  font-size: 49px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 70%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

div.robotnik h1 span.red {
  font-size: 30px;
  font-weight: normal;
  top: 90%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  color: purple; }

div.robotnik h1 span.mateusz {
  font-size: 30px;
  font-weight: normal;
  top: 70%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  color: green; }

header .address {
  position: relative;
  width: 100%;
  background: #3D3D3D;
  padding: 20px 0;
  font-size: 11px;
  color: #7c7c7c; }
  header .address .content {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  header .address .item {
    padding: 0 20px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  header .address i {
    margin-right: 20px; }

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 55px; }

h3 {
  text-align: center;
  font-weight: lighter; }

div.rodzic {
  width: 100%;
  background: #EEEEEE;
  position: relative; }

div.rodzic div.content-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1200px;
  height: 370px;
  width: 100%;
  margin: 0 auto; }

div.rodzic .mysz {
  padding-right: 30px; }

div.rodzic div.wiolka {
  width: 250px;
  height: 300px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

div.rodzic div.wiolka img {
  width: 100px;
  height: 100px; }

div.rodzic p {
  font-size: 12px; }

div.rodzic div h11 {
  text-align: center;
  font-size: 20px; }

div.rodzic div h11 span {
  display: block;
  font-size: 20px; }

div.rodzic h2 {
  padding-top: 45px;
  font-size: 31px;
  color: grey;
  text-align: center;
  font-weight: bold; }

div.rodzic span.andrzej {
  color: grey;
  display: block;
  font-weight: lighter; }

div.rodzic-1 {
  width: 100%;
  background: #E4E4E4;
  position: relative; }

div.rodzic-1 img {
  width: 200px;
  height: 200px; }

div.rodzic-1 .content-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; }

div.rodzic-1 .content-2 .padding .dziecko {
  max-width: 250px;
  height: 230px;
  text-align: center; }

div.rodzic-1 .content-2 .padding {
  max-width: 1200px;
  height: 300px;
  padding-right: 25px; }

div.rodzic-1 .content-2 div.dziecko a {
  text-align: center;
  font-size: 12px;
  color: #3d3d3d;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase; }
  div.rodzic-1 .content-2 div.dziecko a:hover {
    color: orange;
    margin: 5%; }

div.rodzic-1 h3 {
  text-align: center;
  font-size: 31px;
  font-weight: bold;
  text-transform: uppercase;
  color: #7c7c7c;
  padding-top: 40px; }

div.rodzic-1 .button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px; }

button.przycisk {
  background: grey;
  color: white;
  width: 150px;
  height: 50px;
  float: center; }
  button.przycisk:hover {
    background: orange; }

div.plac {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: block;
  height: 490px; }

div.plac img {
  height: auto;
  width: 100%; }

div.plac h5 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 49px;
  font-family: arial;
  font-weight: normal;
  color: white; }

div.plac span {
  top: 90%;
  right: 35%;
  position: absolute; }

div.plac h5 {
  font-family: krzysiek; }

/*  3 obrazki robotnika*/
div.trump {
  width: 100%;
  background: #E5E5E5; }

div.trump div.trump-dziecko {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

div.trump h2 {
  font-size: 31px;
  color: #7c7c7c;
  text-decoration: none;
  padding-top: 5%;
  padding-bottom: 30px; }

div.trump div.box img {
  width: 100px;
  height: 100px; }

div.trump .box-1 {
  width: 155px;
  height: 390px;
  padding-left: 20px; }

div.trump .box-1 a {
  color: #3d3d3d;
  font-size: 20.4px;
  text-align: left;
  font-weight: 500;
  text-decoration: none; }

div.trump .box-1 p {
  font-size: 12px;
  color: #7c7c7c;
  text-align: left; }

div.trump .box-1 button.read {
  width: 150px;
  height: 40px;
  background: orange;
  color: white; }
  div.trump .box-1 button.read:hover {
    background: grey; }

div.trump .mateusz {
  padding-left: 30px;
  margin-right: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

div.przyklad-2 {
  border-bottom: 1px solid grey;
  position: relative;
  width: 100%;
  margin: 0 auto; }

div.przyklad-2:before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  background: #E0E0E0;
  margin-top: 0px;
  margin-left: 50%;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  border-bottom-left-radius: 99%;
  border-bottom-right-radius: 99%;
  border-top: 1px solid #E0E0E0;
  z-index: 2; }

div.line {
  position: relative;
  border-bottom: 1px solid black;
  margin-bottom: 0px;
  margin-top: 0px; }

div.line:before {
  content: "";
  width: 25px;
  height: 25px;
  display: block;
  background: orange;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-bottom-right-radius: 5px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-left: 50%;
  margin-bottom: -20px;
  z-index: 22; }

div.glowa {
  width: 100%;
  padding-top: 50px;
  background: #E0E0E0;
  text-align: center; }

div.glowa .content-4 {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background: #DFDFDF;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

div.glowa h8 {
  font-size: 31px;
  color: #7c7c7c; }

div.glowa div.glowy img {
  border: 2px solid white;
  border-radius: 100%; }

div.glowa .glowy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 3%;
  padding-left: 7%;
  padding-right: 7%; }

div.glowa section div.przyklad-3 {
  width: 250px;
  height: 200px;
  position: relative;
  margin-top: 15%;
  border: 3px solid #CECECE;
  border-radius: 15px;
  display: inline-block;
  background: white;
  padding-right: -40px;
  padding-left: -50px; }

div.glowa section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

div.glowa section div.przyklad-3 p {
  font-size: 12px;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px; }

div.glowa section div.przyklad-3 p span {
  color: #fe8f01;
  font-size: 12px; }

div.glowa section div.przyklad-3:before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  background: red;
  border-bottom: 3px solid #CECECE;
  border-right: 3px solid #CECECE;
  -webkit-transform: rotate(45deg) translate(-50%);
      -ms-transform: rotate(45deg) translate(-50%);
          transform: rotate(45deg) translate(-50%);
  margin-top: 79%;
  background: white; }

div.client {
  position: relative;
  width: 100%;
  background: #EFEFEF;
  text-align: center; }

div.client .content-5 {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background: #F0F0F0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

div.client h9 {
  font-size: 31px;
  color: #7c7c7c; }

div.client img {
  position: relative;
  margin-top: 5%;
  margin-left: 15%; }

/*
footer {
    background: grey;
    height: 400px;
    width: 1200px;
    position: relative;
    display: inline-block;
}

footer div.footer p {
    color: white;
}

footer div:first-child {
    width: 300px;
    height: 300px;
}

footer div.footer p {
    color: orange;
}

footer div:nth-of-type(2) {
    width: 600px;
    height: 300px;
    position: absolute;
    display: block;
    top: 0;
    left: 300px;
}

footer div:nth-of-type(2)>a {
    color: white;
    display: flex;
    font-size: 25px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

footer div:nth-of-type(2)>a:nth-of-type(1n+4) {
    color: white;
    position: absolute;
    top: 0;
    left: 450px;
    display: block;
}

footer div:nth-of-type(2)>a:nth-of-type(1n+5) {
    position: absolute;
    margin-top: 50px;
    left: 450px;
    display: block;
}

div.news h9 {
    color: yellow;
    font-size: 20px;
}

footer div:nth-of-type(3)>button {
    background: orange;
    position: absolute;
    top: 40px;
    left: 100px
}

footer div:nth-of-type(3)>form>label>input {
    position: absolute;
    top: 40px;
}

footer div:nth-of-type(3) {
    position: absolute;
    width: 500px;
    height: 300px;
    top: 0px;
    margin-left: 1000px;
}

footer div:nth-of-type(3)>i {
    margin-top: 250px;
}

footer div:nth-of-type(3)>i:nth-of-type(4) {
    background: orange;
    margin-top: 250px;
    margin-left: 350px;
}

footer div:last-of-type {
    width: 1540px;
    height: 200px;
    color: white;
    background: black;
    position: absolute;
    margin-top: 300px;
    top: 30px;
    margin-left: 0;
}

div.maps{width:100%;
}
*/
footer {
  background: #3D3D3D;
  width: 100%;
  position: relative; }

div .content-7 {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 10px; }

div.footer {
  max-width: 300px;
  height: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

div.footer p {
  font-size: 12px;
  text-align: left;
  color: #ABABAB;
  line-height: 1.5; }

div.footer img {
  width: 150px;
  height: 60px;
  margin: 0; }

div .ahref-1 {
  width: 300px;
  height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

div .ahref-1 .lewo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }

div .ahref-1 .prawo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }

div.ahref-1 a {
  font-size: 14px;
  text-decoration: none;
  color: #ABABAB;
  padding-bottom: 20px; }
  div.ahref-1 a:hover {
    color: orange; }

div.news {
  width: 300px;
  height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
  position: relative; }

div.news div.label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }

div.news span.news h9 {
  color: yellow;
  font-size: 18px;
  color: #ababab; }

div.news span.news {
  text-align: left; }

div.news div input {
  background: #3D3D3D;
  width: 180px;
  height: 30px;
  border: 1px solid white; }

div.news div.label button {
  background: #FE8F01;
  width: 90px;
  height: 34px;
  border: 1px solid #FE8F01;
  color: white;
  font-weight: bold; }

div.news span.ir {
  background: #3D3D3D;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 110px; }

div.news span i:hover {
  color: orange; }

div.news span i {
  color: #7E7781; }

div.news div.strzalka {
  width: 100px;
  color: orange; }

div.footer-1 {
  width: 100%;
  background: #363636; }

div.footer-1 div.footer-2 {
  width: 100%;
  max-width: 1200px;
  height: 80px;
  margin: 0 auto;
  background: #363636;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

div.footer-1 div.footer-2 h6 {
  color: #ABABAB;
  font-size: 14px; }

div.owl-carousel {
  width: 100%; }

div .owl-carousel div .carousel {
  max-width: 1200px;
  width: 100%;
  height: 500px;
  background-size: cover;
  margin: 0 auto; }

div .carousel-1 {
  padding-right: 30px; }

div .carousel-1 img {
  height: 200px;
  width: 1200px; }

/*# sourceMappingURL=style.css.map */