@import 'reset';
@import 'grid';
@font-face {
    font-family: "krzysiek";
    src: url("../fonts/JosefinSans-Light.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 16px;
    font-family: arial, sans-serif;
    background: grey;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

header div.wazny {
    background: #EDEDED;
    width: 100%;
    position: relative;
    .content {
        display: flex;
        flex-direction: row;
height: 90px;
    img {
    padding-right: 50px;
}
}

}

.dropdown{width:100%;

.irena{width: 50px;
    height: 100px;
    background: yellow;
    display: inline-block;
}
.menu a {
    background-color: #EDEDED;
    color: red;
    font-size: 18px;
    font-weight: lighter;
    text-decoration: none;
}



}



@mixin position($zindex){ position: absolute;
     background: grey;
     width: 200px;
     display: none;
    z-index:$zindex;
}





    



.dropdown-content {
    @include position(11);
      
a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    text-align: left;
    z-index: 11;
&:hover{
    position: relative;
    border: 1px solid white;
    background: white;
    color: orange;
}
}



      }








.dropdown-content-5 {
    @include position(11);
   
     margin-left: -100px;
     
a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    text-align: left;
&:hover{
    position: relative;
    border: 1px solid white;
    background: white;
    color: orange;
}

}

}









.dropdown:hover .dropdown-content-5 {
    display: block;
}





.dropdown:hover .dropdown-content {
    display: block;
}

.container {
    position: relative;
    width: 50%;
    width: 150px;
    height: 90px;
   
    display: block;
}




    




.container:hover a:hover .overlay {
    height: 100%;

}







div.menu-2 {
    background: #F0F0F0;
    display: inline-block;
    height: 100%;
    width: 100%;
    max-width:150px;

a{text-decoration: none;
    color: #36363B;
    z-index: 11;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);}





}





div.menu-2b {
    background: #F0F0F0;
    display: inline-block;
    height: 100%;
    width: 100%;
    max-width:150px;

a{ 
    text-decoration: none;
    color: #36363B;
    z-index: 11;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);}



}

.container:hover .overlay {
    height: 100%;
     background:orange;

}




div.dropdown a i {
    color: red;
}

div.dropdown div.pl {
    width: 100%;
    background: blue;
    width: 100px;
    height: 90px;
a i{ background: purple;}
a .bb {
    
    width: 200px;
    height: 90px;
}

}





.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: orange;
    overflow: hidden;
    width: 100%;

    height: 0;
    transition: .5s ease;
}



@mixin size {
    width: 1560px;
    height: 900px;
}

@mixin krzysiek {
    position: absolute;
    z-index: 1;
    top: 400px;
    left: 50%;
}

@mixin wiola {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


/* NAPISY NA OBRAZEK   UZYCIE  overflow:hidden  i background-size:cover

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1*/



div.robotnik {
    width: 100%;
  
    position: relative;
.rob{width:100%;
height:500px;}

}


/*
div.robotnik:before {
    content: "";
    height: 500px;
    background: url('../image/ii.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: block;
    margin: 0 auto;

}
*/

/*  
    sposób na wyśrodkowanie tekstu w pionie
    top:50%;
    transform: translateY(-50%);
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! 
    */

 

    /*  
    sposób na wyśrodkowanie tekstu w pionie position absolute:
    https://css-tricks.com/snippets/sass/centering-mixin/
    */
    /*  top:50%;
    transform: translateY(-50%);
    right:-50%;
     transform: translateX(-50%);
     */



div.blaa{width:100%;

position:relative;
.itemm{width:100%;
background:blue; 
position:relative;

    height:500px;
img{width:100%;
    height:500px;
    margin:0;}


}
}


@mixin tek($font,$weight)
{color:white;
position:absolute;
 font-size:$font;
 font-weight:$weight;
}



h1 .tekst-1  {
        
   
 top: 44%;
    transform: translateY(-50%);
  
     left: 46.5%;
    transform: translateX(-50%);
    

  
  @include tek(49px, bold);
}







div.tekst h1 span.red {
   
    
    top: 60%;
    transform: translateY(-50%);
  
     left: 55%;
    transform: translateX(-50%);
    
    @include tek(30px,normal);
}

div.tekst h1 span.mateusz {
    
    
    top: 67%;
    transform: translateY(-50%);
    left: 41.5%;
    transform: translateX(-50%);
   @include tek(30px,normal);

}





@mixin next{font-size: 60px;
    opacity:0.7;
    color:#353535;
position:absolute;
top:50%;
transform:translateY(-50%);}





div .owl-nav .owl-next i{
    

right:0;
background:rgba(255,255,255,0.7);
padding:10px;
padding-left:20px;
&:hover{background:orange;}
@include next; 
}











div .owl-nav .owl-prev{background:rgba(255,255,255,0.7);
    position:absolute;
width:70px;
height:70px;
top:50%;
transform:translateY(-50%);
left:0px;


&:hover{background:orange;}

i{
   

left:14%;

line-height:56px;
@include next; 
}




}






header .address {
    position: relative;
    width: 100%;
    background: #3D3D3D;
    padding: 20px 0;
    font-size: 11px;
    color: #7c7c7c;
    .content {
        justify-content: flex-end;
    }
    .item {
        padding: 0 20px;
        justify-content: space-between;
    }
    i {
        margin-right: 20px;
    }
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 55px;
}

h3 {
    text-align: center;
    font-weight: lighter;
}

// obrazki na tle  kamiennym





@mixin rodzic{ width: 100%;}
@mixin max-width($width){
max-width:#{$width}px;}

@mixin padding($padding){


padding:$padding;
}












div.rodzic {
   @include rodzic;
    background: #EEEEEE;
    position: relative;

p{padding-top:10px;
    font-size: 12px;}

h11 {
    @include padding(30px 0);
    
    text-align: center;
    font-size: 20px;

}

h2 {
    padding-top: 45px;
    font-size: 31px;
    color: grey;
    text-align: center;
    font-weight: bold;
}

span.andrzej {
    color: grey;
    display: block;
    font-weight: lighter;
     @include padding(10px 0);
}



.content-3{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    @include max-width(1200);
    height: 370px;
    @include rodzic;
    margin: 0 auto;
}
.mysz {
    padding-right: 30px;
}

.wiolka {

    @include max-width(250);
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
      @include padding(20px 0);
img {
  @include max-width(100);
    height: 100px;

}

}

}





 








//obrazki   8 obrazkow
div.rodzic-1 {
    width: 100%;
    background: #E4E4E4;
    position: relative;
img {
    width: 200px;
    height: 200px;
}

h3 {
    text-align: center;
    font-size: 31px;
    font-weight: bold;
    text-transform: uppercase;
    color: #7c7c7c;
    padding:60px 0;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;
}
.content-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
.padding {max-width: 1200px;
    height: 300px;
    padding-right: 25px;
    .dziecko {
    max-width: 250px;
    height: 230px;
    text-align: center;
    a {
    text-align: center;
    font-size: 12px;
    color: #3d3d3d;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    &:hover {
        color: orange;
        margin: 5%;
    }
}
}
}
}


}








//div.rodzic-1 div.dziecko:nth-of-type(4) h4{background:green;





button.przycisk {
    background: grey;
    color: white;
    width: 150px;
    height: 50px;
    float: center;
    &:hover {
        background: orange;
    }
}

div.plac {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: block;
    height: 490px;
    img {
    height: auto;
    width: 100%;
}
h5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 49px;
    font-family: arial;
    font-weight: normal;
    color: white;
font-family: krzysiek;


}
span {
    top: 90%;
    right: 35%;
    position: absolute;
}


}









/*  3 obrazki robotnika*/

div.trump {
    width: 100%;
    background: #E5E5E5;
.box img {
    width: 150px;
    height: 150px;
}
.box-1 {
    width: 155px;
    height: 390px;
    padding-left: 20px;
    button.read {
    width: 150px;
    height: 40px;
    background: orange;
    color: white;
    border:none;

    &:hover {
        background: grey;
    }
}

    a {
    color: #3d3d3d;
    font-size: 20.4px;
    text-align: left;
    font-weight: 500;
    text-decoration: none;

}
p {
    font-size: 12px;
    color: #7c7c7c;
    text-align: left;
      padding:20px 0;
}
}
h2 {
    font-size: 31px;
    color: #7c7c7c;
    text-decoration: none;
    padding-top: 5%;
    padding-bottom: 30px;
}
.trump-dziecko {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.mateusz {
    padding-left: 30px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;

}

}





@mixin before($width,$height,$z-index,$border-right,$border-bottom,$border-left,$border-bottom-left-radius,$border-bottom-right-radius,$border-top){
    width:$width;
    height:$height;
    background: #E0E0E0;
    z-index: $z-index;
    border-right:$border-right;
    border-bottom:$border-bottom;
    border-left:$border-left;
    border-bottom-left-radius:$border-bottom-left-radius;
    border-bottom-right-radius:$border-bottom-right-radius;
    border-top:$border-top;
     margin-left: 50%;
}







div.przyklad-2 {
    border-bottom: 1px solid grey;
    position: relative;
    width: 100%;
    margin: 0 auto;
&:before {
    content: "";
    
    position: absolute;
    @include before(30px,30px,2,1px solid grey, 1px solid grey,1px solid grey,99%,99%,1px solid #E0E0E0);
    margin-top: 0px;
   
    
    
    
    
   
 
}

}



div.line {
    position: relative;
    border-bottom: 1px solid black;
    margin-bottom: 0px;
    margin-top: 0;
background:#EDEDED;
 z-index:7;
 &:before {
    content: "";
    width: 25px;
    height: 25px;
    display: block;
   
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-bottom-right-radius: 5px;
    transform: rotate(45deg);
    margin-left: 50%;
    margin-bottom: -13px;
    z-index:7;
     background:#EDEDED;
}
}

@mixin glowa($background){
    background:$background;

}


@mixin stop($padding-top,$padding-left,$padding-right){
    padding-top:$padding-top;
    padding-left:$padding-left;
    padding-right:$padding-right;
    }

@mixin section{width: 30px;
    height: 30px;
    position: absolute;
    background: red;
    border-bottom: 3px solid #CECECE;
    border-right: 3px solid #CECECE;
    transform: rotate(45deg)translate(-50%);
    margin-top: 79%;
    background: white;}

div.glowa {
    width: 100%;
    padding-top: 50px;
    @include glowa(#E0E0E0);
    text-align: center;

    section {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    .przyklad-3 {
    width: 250px;
    height: 200px;
    position: relative;
    margin-top: 15%;
    border: 3px solid #CECECE;
    border-radius: 15px;
    display: inline-block;
    background: white;
    padding-right: -40px;
    padding-left: -50px;

    &:before {
    content: "";
    @include section;
    
}
    p {
    font-size: 12px;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    span {
    color: #fe8f01;
    font-size: 12px;
}
}
}

}
.content-4 {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    @include glowa(#DFDFDF);
   
    position: relative;
    display: flex;
    flex-direction: column;
}
 h8 {
    font-size: 31px;
    color: #7c7c7c;
}

.glowy {display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    @include stop(3%,7%,7%);
}

.glowy img{border: 2px solid white;
    border-radius: 100%;

    
}
}














div.client {
    position: relative;
    width: 100%;
    background: #EFEFEF;
    text-align: center;
   padding:70px 0;
   .content-5 {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background: #F0F0F0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
h9 {
    font-size: 31px;
    color: #7c7c7c;
   
}
img {
    position: relative;
    margin-top: 5%;
    margin-left: 15%;
}
}





/*
footer {
    background: grey;
    height: 400px;
    width: 1200px;
    position: relative;
    display: inline-block;
}

footer div.footer p {
    color: white;
}

footer div:first-child {
    width: 300px;
    height: 300px;
}

footer div.footer p {
    color: orange;
}

footer div:nth-of-type(2) {
    width: 600px;
    height: 300px;
    position: absolute;
    display: block;
    top: 0;
    left: 300px;
}

footer div:nth-of-type(2)>a {
    color: white;
    display: flex;
    font-size: 25px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

footer div:nth-of-type(2)>a:nth-of-type(1n+4) {
    color: white;
    position: absolute;
    top: 0;
    left: 450px;
    display: block;
}

footer div:nth-of-type(2)>a:nth-of-type(1n+5) {
    position: absolute;
    margin-top: 50px;
    left: 450px;
    display: block;
}

div.news h9 {
    color: yellow;
    font-size: 20px;
}

footer div:nth-of-type(3)>button {
    background: orange;
    position: absolute;
    top: 40px;
    left: 100px
}

footer div:nth-of-type(3)>form>label>input {
    position: absolute;
    top: 40px;
}

footer div:nth-of-type(3) {
    position: absolute;
    width: 500px;
    height: 300px;
    top: 0px;
    margin-left: 1000px;
}

footer div:nth-of-type(3)>i {
    margin-top: 250px;
}

footer div:nth-of-type(3)>i:nth-of-type(4) {
    background: orange;
    margin-top: 250px;
    margin-left: 350px;
}

footer div:last-of-type {
    width: 1540px;
    height: 200px;
    color: white;
    background: black;
    position: absolute;
    margin-top: 300px;
    top: 30px;
    margin-left: 0;
}

div.maps{width:100%;
}
*/

@mixin lewo($width,$height){
width:#{$width}px;
height:#{$height}px;}
















footer {
    background: #3D3D3D;
    width: 100%;
    position: relative;
}

div .content-7 {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 10px;
}

div.footer {
    max-width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    p {
    padding:10px 0;
    font-size: 12px;
    text-align: left;
    color: #ABABAB;
    line-height: 1.5;
}
img {
    width: 100%;
    height: 60px;
    margin: 0;
}
}





div .ahref-1 {
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
a {
    font-size: 14px;
    text-decoration: none;
    color: #ABABAB;
    padding-bottom: 20px;
    &:hover {
        color: orange;
    }
}

    .lewo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.prawo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
}





div.news {
   @include lewo(300,100);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 0;
    position: relative;
span i {
    color: #7E7781;
}
    span.news {
    text-align: left;
    h9 {
    color: yellow;
    font-size: 18px;
    color: #ababab;
}
}
}











div.news span.ir {
    background: #3D3D3D;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 110px;
}





div.news div.strzalka {
    width: 100px;
    color: orange;
}

div.footer-1 {
    width: 100%;
    background: #363636;

    div.footer-2 {
position:relative;
    width: 100%;
    max-width: 1200px;
    height: 80px;
    margin: 0 auto;
    background: #363636;
    display: flex;
    justify-content:flex-start;

}
}



div.footer-1 div.footer-2 h6 {
    color: #ABABAB;
    font-size: 14px;
    top:30px;
    position:absolute;

}

div .strzala {
    position: relative;
    max-width: 100px;
    width: 100%;
}

div .strzalka {
    max-width: 400px;
    width: 100%;
    position: relative;
    i {
    position: absolute;
    top: 86%;
    transform: translate(-98%);
    right: 5%;
    color: orange;

    max-width: 200px;
    text-align: center;
    font-size:35px;
    font-weight: bold;
    color: orange;
    text-decoration: none;
    position: fixed;
    display: none;
    text-decoration: none;
    &:hover{
    color: grey;
}
}
}



    









    








div form input{
width:600px;
height:35px;
margin-top:1px;
margin-left:-600px;
z-index:10;
border:transparent;


}


.ustawienia form{position:relative;
width:100%;
height:3px;

}

.ustawienia form fieldset{position:relative; background:pink;
width:100%;




}
    


fieldset label{position:relative;
    height:10px;
    width:20px;
 z-index:10;
    margin-left:-44px;
}
 

fieldset label i.przycisk {position:absolute;
margin-left:50px;
top:0;
color:blue;
&:hover{color:orange;}
}



fieldset span .field  {position:absolute;
left:-40px;
top:3%;
color:orange;
padding-bottom:2px;
&:hover{color:grey;}
}








form fieldset{width:100%;
    position:relative;
}



div.kd{padding:35px 0;}
.kd fieldset input{background:transparent;
    position:relative;
    left:231px;
width:140px;

border:1px solid white;}


fieldset button{background:orange;
height:35px;
top:1px;
position:absolute;
left:141px;
font-size:14px;
font-weight:bold;
color:white;
border:none;
padding:0 10px;

&:hover{color:orange;
background:white;}



}

fieldset button::placeholder{color:white;}

.kd fieldset input::placeholder{color:grey;
font-size:14px;
padding-left:10px;
padding-right:10px;}






.hover{background:red;}
.pink{background:pink;}
.blue{background:url('../image/logo1.ico')no-repeat;
position:absolute;
}
.field{
background:red;
}