.przyklad-1 {
    width: 100%;
    overflow: hidden;
    height: 400px;
    position: relative;
}

.przyklad-1:before {
    content: '';
    background: url('https://ld-wp.template-help.com/wordpress_53591_v2/wp-content/uploads/2016/12/slider-1-min-1.jpg');
    background-repeat: no-repeat;
    background-position: contain;
    width: 100%;
    height: 100%;
    display: block;
}

.przyklad-1 .text {
    position: absolute;
    width: 60%;
    max-width: 600px;
    right: 0;
    z-index: 2;
    /*	
    sposób na wyśrodkowanie tekstu w pionie position absolute:
	https://css-tricks.com/snippets/sass/centering-mixin/
	*/
    top: 50%;
    transform: translateY(-50%);
}

.przyklad-2 {
    width: 100%;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
    position: relative;
    height: 100px;
}

.przyklad-2:before {
    /*
	korzystam z tej strony bo tu masz różne kształy
	https://css-tricks.com/examples/ShapesOfCSS/

	ale w tym wypadku zobacz że rogi są zaokroglone więc zrobie kwdarat z zaokroąglonymi rogami i go przekrece,
	bo sposób ze strony w tym przypadku nie zadziała
	*/
    content: '';
    width: 30px;
    height: 30px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    display: block;
    /*	
    sposób na wyśrodkowanie tekstu w poziomie position absolute + dodaje obrót w jednej lini rotate(45deg), translateX(-50%)
	*/
    position: absolute;
    left: 50%;
    transform: rotate(45deg) translateX(-50%);

    /*
    teraz dodam białe tło i przeniose element trochę do góry żeby zasłonił kreskę czarną */
    background: #fff;
    bottom: -27px; 
}

.przyklad-3 .chmurka {
	background: red;
	border-radius: 20px;
	width: 300px;
	height: 150px;
	position: relative;
	border: 3px solid black;
}

.przyklad-3 .chmurka:before {
	/*robisz prawie tak samo jak w przykładzie 2*/
	 position: absolute;
    left: 50%;
    transform: rotate(45deg) translateX(-50%);
	content: '';
	   width: 30px;
    height: 30px;
    border-bottom-right-radius: 5px;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    display: block;
        background: red;
    bottom: -30px; 
}

.przyklad-4 .map {
	width: 100%;
	height: 300px;
	margin-top: 50px;
}